$white: #fff;
$primary: #F24259;
$black : #00000a;
$gray: #f7f7f7;
$text: #666;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    list-style: none;
}

body{
    &::before{
        content: "";
        display: block;
        position: fixed;
        top: 0; left: 0;
        z-index: -1;
        width: 100%;
        height: 100vh;
        background-image: url(../img/home-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left top;
    }
}

html{
    font-size: 10px;
    scroll-behavior: smooth;
}

.container{
    width: 110rem;
    margin: 0 auto;
}

section{
    width: 100%;
    overflow: hidden;
    padding: 10rem 0;
    background-color: $white;
}

.title{
    margin-bottom: 4.5rem;

    &.light{
        h2{
            color: $white;
            font-weight: 200;
        }
    }

    h2{
        position: relative;
        font-size: 3.8rem;
        font-weight: 300;
        color: $black;
        padding-left: 1.5rem;

        &::after{
            position: absolute;
            bottom: 0;
            left: 0;
            content: "";
            display: block;
            width: 0.125rem;
            height: 50%;
            outline: none;
            background-color: $primary;
        }

        span{
            font-weight: 700;
        }
    }
}

/*#region Header Codes*/

header{
    width: 100%;
    position: fixed;
    top: 0; left: 0;
    overflow: hidden;
    padding: 1.5rem 0;
    z-index: 100;
    transition-property: background-color,border-bottom;
    transition: 0.3s ease;

    &.scroll{
        background-color: $white;
        border-bottom: 0.15rem solid rgba(12, 12, 12, 0.04);

        .container{
            #header-menu{
                nav{
                    ul{
                        li{
                            a{
                                color: $black;
                            }
                        }
                    }
                }
            }
        }
    }

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;

        #header-logo{
            img{
                width: 10rem;
            }
        }
    
        #header-menu{
            nav{
                ul{
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
    
                    li{
                        margin: 1.5rem 0.5rem;

                        &:hover{
                            a{
                                color: $primary;
                            }
                        }

                        a{
                            font-size: 1.4rem;
                            font-weight: 600;
                            color: $white;
                            padding: 0.8rem;
                            transition: color 0.3s ease;
                        }
                    }
                }
            }
        }
    }
}

/*#endregion*/

/*#region Main Codes*/

main{

    section#home{
        position: relative;
        height: 100vh;
        padding: 0;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;

        &::before{
            content: "";
            display: block;
            position: absolute;
            top: 0; left: 0;
            width: 100%;
            height: 100%;
            background-color: $black;
            opacity: 0.5;
            z-index: 0;
        }

        .container{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            text-align: center;
            z-index: 1;

            #home-content{

                h3{
                    width: 100%;
                    font-size: 3.5rem;
                    font-weight: 200;
                    color: $white;
                }
    
                h1{
                    width: 100%;
                    text-transform: uppercase;
                    font-size: 7rem;
                    font-weight: 700;
                    color: $white;
                    line-height: 1.75;
                    margin: 1rem 0;
    
                    span{
                        color: $primary;
                    }
                }
    
                p{
                    font-size: 1.6rem;
                    font-weight: 400;
                    color: $white;
                    margin-bottom: 3rem;
                }
    
                #home-buttons{
                    display: flex;
                    justify-content: center;

                    a{
                        position: relative;
                        width: 100%;
                        max-width: 16rem;
                        padding: 1rem 0;
                        margin: 0 1.5rem;
                        background-color: transparent;
                        display: flex;
                        justify-content: center;
                        border: 0.15rem solid $primary;

                        &:last-child{
                            background-color: $primary;
                        }
    
                        &:hover{
                            border-color: $white;

                            &::after{
                                width: 100%;
                            }
    
                            span{
                                color: $black;
                            }
                        }
    
                        &::after{
                            content: "";
                            display: inline-block;
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 0;
                            height: 100%;
                            background-color: $white;
                            z-index: 1;
                            transition: width 0.3s ease;
                        }
    
                        span{
                            font-size: 1.4rem;
                            font-weight: 600;
                            color: $white;
                            z-index: 2;
                            transition: color 0.3s ease;
                        }
                    }
                }
            }
            
            #home-scroll{
                position: absolute;
                bottom: 7.5%;
                left: 50%;
                transform: translateX(-50%);
                width: 3.5rem;
                height: 3.5rem;
                background-color: transparent;
                border: 0.15rem solid $white;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                transition-property: background-color,border-color;
                transition: 0.3s ease;
                z-index: 20;

                &:hover{
                    background-color: $primary;
                    border-color: $primary;
                }

                i{
                    font-size: 1.5rem;
                    color: $white;
                }
            }
        }
    }

    section#about{
        padding-bottom: 0;

        .container{
            #about-slogan{
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 8rem;

                h4{
                    font-size: 3rem;
                    font-weight: 300;
                    color: $black;
                    margin-bottom: 2.5rem;

                    span{
                        font-weight: 700;
                    }
                }

                p{
                    width: 100%;
                    max-width: 70rem;
                    font-size: 1.5rem;
                    font-weight: 400;
                    color: $text;
                    line-height: 1.4;
                }
            }

            #about-content{
                display: flex;
                justify-content: space-between;

                #about-text{
                    width: 47.5%;
 
                    p{
                        font-size: 1.5rem;
                        font-weight: 400;
                        color: $text;
                        line-height: 1.4;
                    }
                }

                #about-skills{
                    width: 47.5%;
                    
                    .skill{
                        margin-bottom: 2.5rem;

                        p{
                            font-size: 1.2rem;
                            font-weight: 600;
                            color: $black;
                            margin-bottom: 0.8rem;
                        }

                        .skill-bar{
                            background-color: $gray;
                            height: 0.15rem;

                            span{
                                display: inline-block;
                                width: 0%;
                                height: 0.15rem;
                                background-color: $primary;
                            }
                        }
                    }
                }
            }
        }

        #about-cards{
            padding: 8rem 0;
            margin-top: 8rem;
            background-color: $gray;
            
            .container{
                display: flex;
                justify-content: space-between;
                align-items: center;

                .card{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    width: calc(33.33% - 2rem);
                    padding: 3rem;
                    background-color: $white;
                    border-radius: 0.75rem;
                    box-shadow: 0 0 1rem rgba(12, 12, 12, 0.075);

                    i{
                        font-size: 5rem;
                        color: $primary;
                        margin-bottom: 1.5rem;
                    }

                    h4{
                        font-size: 1.8rem;
                        font-weight: 600;
                        color: $black;
                        margin-bottom: 1.5rem;
                    }

                    p{
                        font-size: 1.4rem;
                        font-weight: 400;
                        color: $text;
                        line-height: 1.6rem;
                    }
                }
            }
        }
    }

    section#features{
        position: relative;
        background-image: url(../img/features-bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &::before{
            content: "";
            display: block;
            position: absolute;
            top: 0; left: 0;
            width: 100%;
            height: 100%;
            background-color: $black;
            opacity: 0.7;
        }

        .container{
            #features-content{
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;

                .feature{
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    width: calc(33.33% - 2rem);
                    padding: 3rem;
                    background-color: rgba(70, 70, 70, 0.55);
                    border-radius: 0.75rem;
                    margin-bottom: 3rem;
                    z-index: 1;
                    transition: background-color 0.3s ease;

                    &:hover{
                        background-color: $white;

                        h4{
                            color: $black;
                        }

                        p{
                            color: $text;
                        }
                    }

                    i{
                        font-size: 3rem;
                        color: $primary;
                        margin-bottom: 1rem;
                    }

                    h4{
                        font-size: 1.8rem;
                        font-weight: 600;
                        color: $white;
                        margin-bottom: 1.5rem;
                        transition: color 0.3s ease;
                    }

                    p{
                        font-size: 1.4rem;
                        font-weight: 400;
                        color: $white;
                        line-height: 1.6rem;
                        transition: color 0.3s ease;
                    }
                }
            }
        }
    }

    section#pricing{
        background-color: $gray;

        .container{
            #pricing-content{
                display: flex;
                justify-content: space-between;

                .pricing{
                    width: calc(33.33% - 2rem);
                    background-color: $white;
                    border-radius: 0.75rem;
                    box-shadow: 0 0 1rem rgba(12, 12, 12, 0.075);
                    padding: 3rem;
                    transition: transform 0.3s ease;

                    &:hover{
                        transform: scale(1.05);
                    }

                    .pricing-title{
                        width: 100%;
                        padding-bottom: 3rem;
                        border-bottom: 0.125rem solid #eee;

                        h4{
                            text-align: center;
                            font-size: 2.5rem;
                            font-weight: 600;
                            color: $black;
                        }
                    }

                    .pricing-price{
                        width: 100%;
                        padding: 3rem 0;
                        border-bottom: 0.125rem solid #eee;
                        display: flex;
                        justify-content: center;
                        align-items: flex-end;

                        h6{
                            position: relative;
                            font-size: 5rem;
                            font-weight: 800;
                            color: $black;
                            padding-right: 1rem;

                            span{
                                position: absolute;
                                top: 0;
                                right: 0.5rem;
                                font-size: 1.4rem;
                                font-weight: 800;
                                color: $black;
                            }
                        }

                        p{
                            display: inline-block;
                            font-size: 1.3rem;
                            font-weight: 500;
                            color: $text;
                            margin-bottom: 1rem;
                        }
                    }

                    .pricing-text{
                        width: 100%;
                        padding: 3rem 0;
                        border-bottom: 0.125rem solid #eee;

                        ul{
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: center;

                            li{
                                margin: 0.75rem 0;
                                font-size: 1.4rem;
                                font-weight: 400;
                                color: $text;
                            }
                        }
                    }

                    .pricing-button{
                        width: 100%;
                        padding-top: 3rem;
                        display: flex;
                        justify-content: center;
                        
                        a{
                            position: relative;
                            width: 100%;
                            max-width: 16rem;
                            padding: 1rem 0;
                            background-color: $primary;
                            display: flex;
                            justify-content: center;
                            border: 0.15rem solid $primary;

                            &:hover{
                                
                                &::after{
                                    width: 100%;
                                }

                                span{
                                    color: $black;
                                }
                            }

                            &::after{
                                content: "";
                                display: inline-block;
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 0;
                                height: 100%;
                                background-color: $white;
                                z-index: 1;
                                transition: width 0.3s ease;
                            }

                            span{
                                font-size: 1.4rem;
                                font-weight: 600;
                                color: $white;
                                z-index: 2;
                                transition: color 0.3s ease;
                            }
                        }
                    }
                }
            }
        }
    }

    section#contact{
        .container{
            #contact-title{
                display: flex;
                justify-content: center;
                text-align: center;

                h2{
                    padding-left: 0;
                    
                    &::after{
                        width: 6rem;
                        height: 0.125rem;
                        bottom: -1rem;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }

            #contact-content{
                display: flex;
                justify-content: center;

                form{
                    width: 100%;
                    max-width: 57.5rem;
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    flex-wrap: wrap;

                    input,textarea{
                        width: 100%;
                        margin-bottom: 2rem;
                        border: none;
                        outline: none;
                        padding: 1rem;
                        font-size: 1.4rem;
                        font-weight: 600;
                        color: $black;
                        background-color: $gray;

                        &::placeholder{
                            color: $text;
                            font-weight: 500;
                        }

                        &:nth-child(1){
                            width: calc(50% - 1rem);
                            margin-right: 1rem;
                        }
                        &:nth-child(2){
                            width: calc(50% - 1rem);
                            margin-left: 1rem;
                        }

                        &[type=submit]{
                            cursor: pointer;
                            width: calc(50% - 2rem);
                            background-color: $primary;
                            color: $white;
                            font-weight: 500;
                        }
                    }

                    textarea{
                        height: 16rem;
                        resize: none;
                    }

                    a{
                        position: relative;
                        width: 100%;
                        max-width: 16rem;
                        padding: 1rem 0;
                        background-color: $primary;
                        display: flex;
                        justify-content: center;
                        border: 0.15rem solid $primary;

                        &:hover{
                            
                            &::after{
                                width: 100%;
                            }

                            span{
                                color: $black;
                            }
                        }

                        &::after{
                            content: "";
                            display: inline-block;
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 0;
                            height: 100%;
                            background-color: $white;
                            z-index: 1;
                            transition: width 0.3s ease;
                        }

                        span{
                            font-size: 1.4rem;
                            font-weight: 600;
                            color: $white;
                            z-index: 2;
                            transition: color 0.3s ease;
                        }
                    }
                }
            }
        }
    }
}

/*#endregion*/

/*#region Footer Codes*/

footer{
    padding: 8rem 0;
    background-color: #111;

    .container{

        #footer-info{
            padding-bottom: 8rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .info{
                cursor: pointer;
                width: calc(33.33% - 2rem);
                padding: 3rem;
                background-color: #161616;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                border: 0.15rem solid #161616;
                transition: border-color 0.3s ease;

                &:hover{
                    border-color: $primary;
                }

                .info-icon{
                    margin-right: 3rem;

                    i{
                        font-size: 3.5rem;
                        color: $white;
                    }
                }

                .info-text{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    h6{
                        font-size: 1.7rem;
                        font-weight: 600;
                        color: $white;
                        margin-bottom: 1rem;
                    }

                    a{
                        p{
                            font-size: 1.6rem;
                            font-weight: 500;
                            color: $text;
                        }
                    }
                }
            }
        }

        #footer-content{
            display: flex;
            flex-direction: column;
            align-items: center;

            #footer-logo{
                padding: 1.5rem 0;

                a{
                    img{
                        width: 10rem;
                    }
                }
            }

            #footer-social{
                margin: 1.5rem 0 2.5rem 0;

                ul{
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    li{
                        margin: 0 1.25rem;

                        &:hover{
                            a{
                                i{
                                    color: $white;
                                }
                            }
                        }

                        a{
                            i{
                                font-size: 1.8rem;
                                color: $text;
                                transition: color 0.3s ease;
                            }
                        }
                    }
                }
            }

            #footer-copyright{
                width: 100%;
                text-align: center;

                p{
                    font-size: 1.4rem;
                    font-weight: 500;
                    color: $text;

                    a{
                        font-weight: 600;
                        color: $text;
                        transition: color 0.3s ease;

                        &:hover{
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}

/*#endregion*/