* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  list-style: none;
}

body::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background-image: url(../img/home-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}

html {
  font-size: 12px;
  scroll-behavior: smooth;
}

.container {
  width: 110rem;
  margin: 0 auto;
}

section {
  width: 100%;
  overflow: hidden;
  padding: 10rem 0;
  background-color: #fff;
}

.title {
  margin-bottom: 5.5rem;
}
.title.light h2 {
  color: #fff;
  font-weight: 200;
}
.title h2 {
  position: relative;
  font-size: 1.8rem;
  font-weight: 400;
  color: #00000a;
  padding-left: 1.5rem;
}
.title h2::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 0.125rem;
  height: 50%;
  outline: none;
  background-color: #F24259;
}
.title h2 span {
  font-weight: 700;
  font-size: 3.8rem;
}

/*#region Animation Codes*/
.fade-bottom {
  -webkit-animation: fade-bottom 1s ease 0.5s both paused;
          animation: fade-bottom 1s ease 0.5s both paused;
  opacity: 0;
}
.fade-bottom.animate {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
@-webkit-keyframes fade-bottom {
  from {
    transform: translateY(3rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-bottom {
  from {
    transform: translateY(3rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.fade-left {
  -webkit-animation: fade-left 1.5s ease 0.5s both paused;
          animation: fade-left 1.5s ease 0.5s both paused;
  opacity: 0;
}
.fade-left.animate {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
@-webkit-keyframes fade-left {
  from {
    transform: translateX(-5rem);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  from {
    transform: translateX(-5rem);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.fade-right {
  -webkit-animation: fade-right 1.5s ease 0.5s both paused;
          animation: fade-right 1.5s ease 0.5s both paused;
}
.fade-right.animate {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
@-webkit-keyframes fade-right {
  from {
    transform: translateX(5rem);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-right {
  from {
    transform: translateX(5rem);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.zoom {
  -webkit-animation: zoom 1s ease 0.5s both paused;
          animation: zoom 1s ease 0.5s both paused;
}
.zoom.animate {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
@-webkit-keyframes zoom {
  from {
    transform: scale(0.75);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes zoom {
  from {
    transform: scale(0.75);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.opacity {
  -webkit-animation: opacity 1s ease 0.5s both paused;
          animation: opacity 1s ease 0.5s both paused;
}
.opacity.animate {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
@-webkit-keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.run {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

/*#endregion*/
/*#region Header Codes*/
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  padding: 1.5rem 0;
  z-index: 100;
  transition-property: background-color, box-shadow;
  transition: 0.3s ease;
}
header.scroll {
  background-color: #fff;
  box-shadow: 1rem 0 0.5rem rgba(12, 12, 12, 0.2);
}
header.scroll .container #header-bar i {
  color: #00000a;
}
header.scroll .container #header-menu nav ul li a {
  color: #00000a;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container #header-logo img {
  height: 3rem;
}
header .container #header-bar {
  display: none;
  margin-right: 0.5rem;
}
header .container #header-bar i {
  cursor: pointer;
  font-size: 2.2rem;
  color: #fff;
  transition: color 0.3s ease;
}
header .container #header-menu nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .container #header-menu nav ul li {
  margin: 1.5rem 0.5rem;
}
header .container #header-menu nav ul li:hover a {
  color: #F24259;
}
header .container #header-menu nav ul li a {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  padding: 0.8rem;
  transition: color 0.3s ease;
}

/*#endregion*/
/*#region Main Codes*/
main section#home {
  position: relative;
  height: 100vh;
  padding: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section#home::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000a;
  opacity: 0.5;
  z-index: 0;
}
main section#home .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  z-index: 1;
}
main section#home .container #home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section#home .container #home-content h3 {
  width: 100%;
  font-size: 3.5rem;
  font-weight: 200;
  color: #fff;
}
main section#home .container #home-content h1 {
  width: 100%;
  text-transform: uppercase;
  font-size: 7rem;
  font-weight: 700;
  color: #fff;
  line-height: 1.75;
  margin: 1rem 0;
}
main section#home .container #home-content h1 span {
  color: #F24259;
}
main section#home .container #home-content p {
  width: 100%;
  max-width: 60rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 3rem;
}
main section#home .container #home-content #home-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
}
main section#home .container #home-content #home-buttons a {
  position: relative;
  width: 100%;
  max-width: 16rem;
  padding: 1rem 0;
  margin: 0 1.5rem;
  background-color: transparent;
  display: flex;
  justify-content: center;
  border: 0.15rem solid #F24259;
}
main section#home .container #home-content #home-buttons a:last-child {
  background-color: #F24259;
}
main section#home .container #home-content #home-buttons a:hover {
  border-color: #fff;
}
main section#home .container #home-content #home-buttons a:hover::after {
  width: 100%;
}
main section#home .container #home-content #home-buttons a:hover span {
  color: #00000a;
}
main section#home .container #home-content #home-buttons a::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #fff;
  z-index: 1;
  transition: width 0.3s ease;
}
main section#home .container #home-content #home-buttons a span {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  z-index: 2;
  transition: color 0.3s ease;
}
main section#home .container #home-scroll {
  position: absolute;
  bottom: 7.5%;
  left: 50%;
  transform: translateX(-50%);
  width: 3.5rem;
  height: 3.5rem;
  background-color: transparent;
  border: 0.15rem solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color, border-color;
  transition: 0.3s ease;
  z-index: 20;
}
main section#home .container #home-scroll:hover {
  background-color: #F24259;
  border-color: #F24259;
}
main section#home .container #home-scroll i {
  font-size: 1.5rem;
  color: #fff;
}
main section#about {
  padding-bottom: 0;
}
main section#about .container #about-slogan {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8rem;
}
main section#about .container #about-slogan h4 {
  font-size: 3rem;
  font-weight: 300;
  color: #00000a;
  margin-bottom: 2.5rem;
}
main section#about .container #about-slogan h4 span {
  font-weight: 700;
}
main section#about .container #about-slogan p {
  width: 100%;
  max-width: 70rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: #666;
  line-height: 1.6;
}
main section#about .container #about-content {
  display: flex;
  justify-content: space-between;
}
main section#about .container #about-content #about-text {
  width: 47.5%;
}
main section#about .container #about-content #about-text p {
  font-size: 1.5rem;
  font-weight: 400;
  color: #666;
  line-height: 1.4;
}
main section#about .container #about-content #about-skills {
  width: 47.5%;
}
main section#about .container #about-content #about-skills .skill {
  margin-bottom: 2.5rem;
}
main section#about .container #about-content #about-skills .skill p {
  font-size: 1.5rem;
  font-weight: 600;
  color: #00000a;
  margin-bottom: 0.8rem;
}
main section#about .container #about-content #about-skills .skill .skill-bar {
  position: relative;
  background-color: #f7f7f7;
  height: 0.25rem;
  border-radius: 3rem;
}
main section#about .container #about-content #about-skills .skill .skill-bar span {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3rem;
  width: 0%;
  height: 100%;
  background-color: #F24259;
  transition: width 0.3s ease;
}
main section#about .container #about-content #about-skills .skill .skill-bar p {
  position: absolute;
  top: -2.5rem;
  left: 0%;
  transform: translateX(-100%);
  font-size: 1.3rem;
  font-weight: 600;
  color: #666;
  transition: left 0.3s ease;
}
main section#about #about-cards {
  padding: 8rem 0;
  margin-top: 8rem;
  background-color: #f7f7f7;
}
main section#about #about-cards .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main section#about #about-cards .container .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(33.33% - 2rem);
  padding: 3rem;
  background-color: #fff;
  border-radius: 0.75rem;
  box-shadow: 0 0 1rem rgba(12, 12, 12, 0.075);
  transition: transform 0.3s ease;
}
main section#about #about-cards .container .card:hover {
  transform: scale(1.05);
}
main section#about #about-cards .container .card i {
  font-size: 5rem;
  color: #F24259;
  margin-bottom: 1.5rem;
}
main section#about #about-cards .container .card h4 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #00000a;
  margin-bottom: 1.5rem;
}
main section#about #about-cards .container .card p {
  font-size: 1.5rem;
  font-weight: 400;
  color: #666;
  line-height: 1.6;
}
main section#features {
  position: relative;
  background-image: url(../img/features-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main section#features::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000a;
  opacity: 0.7;
}
main section#features .container #features-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
main section#features .container #features-content .feature {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(33.33% - 2rem);
  padding: 3rem;
  background-color: rgba(70, 70, 70, 0.55);
  border-radius: 0.75rem;
  margin-bottom: 3rem;
  z-index: 1;
  transition: background-color 0.3s ease;
}
main section#features .container #features-content .feature:hover {
  background-color: #fff;
}
main section#features .container #features-content .feature:hover h4 {
  color: #00000a;
}
main section#features .container #features-content .feature:hover p {
  color: #666;
}
main section#features .container #features-content .feature i {
  font-size: 3rem;
  color: #F24259;
  margin-bottom: 1rem;
}
main section#features .container #features-content .feature h4 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 1.5rem;
  transition: color 0.3s ease;
}
main section#features .container #features-content .feature p {
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
  line-height: 1.6;
  transition: color 0.3s ease;
}
main section#pricing {
  background-color: #f7f7f7;
}
main section#pricing .container #pricing-content {
  display: flex;
  justify-content: space-between;
}
main section#pricing .container #pricing-content .pricing {
  width: calc(33.33% - 2rem);
  background-color: #fff;
  border-radius: 0.75rem;
  box-shadow: 0 0 1rem rgba(12, 12, 12, 0.075);
  padding: 3rem;
  transition: transform 0.3s ease;
}
main section#pricing .container #pricing-content .pricing:hover {
  transform: scale(1.05);
}
main section#pricing .container #pricing-content .pricing .pricing-title {
  width: 100%;
  padding-bottom: 3rem;
  border-bottom: 0.125rem solid #eee;
}
main section#pricing .container #pricing-content .pricing .pricing-title h4 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  color: #00000a;
}
main section#pricing .container #pricing-content .pricing .pricing-price {
  width: 100%;
  padding: 3rem 0;
  border-bottom: 0.125rem solid #eee;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
main section#pricing .container #pricing-content .pricing .pricing-price h6 {
  position: relative;
  font-size: 5rem;
  font-weight: 800;
  color: #00000a;
  padding-right: 1rem;
}
main section#pricing .container #pricing-content .pricing .pricing-price h6 span {
  position: absolute;
  top: 0;
  right: 0.5rem;
  font-size: 1.5rem;
  font-weight: 800;
  color: #00000a;
}
main section#pricing .container #pricing-content .pricing .pricing-price p {
  display: inline-block;
  font-size: 1.35rem;
  font-weight: 500;
  color: #666;
  margin-bottom: 1rem;
}
main section#pricing .container #pricing-content .pricing .pricing-text {
  width: 100%;
  padding: 3rem 0;
  border-bottom: 0.125rem solid #eee;
}
main section#pricing .container #pricing-content .pricing .pricing-text ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
main section#pricing .container #pricing-content .pricing .pricing-text ul li {
  margin: 0.75rem 0;
  font-size: 1.5rem;
  font-weight: 400;
  color: #666;
}
main section#pricing .container #pricing-content .pricing .pricing-button {
  width: 100%;
  padding-top: 3rem;
  display: flex;
  justify-content: center;
}
main section#pricing .container #pricing-content .pricing .pricing-button a {
  position: relative;
  width: 100%;
  max-width: 16rem;
  padding: 1rem 0;
  background-color: #F24259;
  display: flex;
  justify-content: center;
  border: 0.15rem solid #F24259;
}
main section#pricing .container #pricing-content .pricing .pricing-button a:hover::after {
  width: 100%;
}
main section#pricing .container #pricing-content .pricing .pricing-button a:hover span {
  color: #00000a;
}
main section#pricing .container #pricing-content .pricing .pricing-button a::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #fff;
  z-index: 1;
  transition: width 0.3s ease;
}
main section#pricing .container #pricing-content .pricing .pricing-button a span {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  z-index: 2;
  transition: color 0.3s ease;
}
main section#contact .container #contact-title {
  display: flex;
  justify-content: center;
  text-align: center;
}
main section#contact .container #contact-title h2 {
  padding-left: 0;
}
main section#contact .container #contact-title h2::after {
  width: 6rem;
  height: 0.125rem;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
}
main section#contact .container #contact-content {
  display: flex;
  justify-content: center;
}
main section#contact .container #contact-content form {
  width: 100%;
  max-width: 57.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
main section#contact .container #contact-content form input, main section#contact .container #contact-content form textarea {
  width: 100%;
  margin-bottom: 2rem;
  border: none;
  outline: none;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #00000a;
  background-color: #f7f7f7;
}
main section#contact .container #contact-content form input::-moz-placeholder, main section#contact .container #contact-content form textarea::-moz-placeholder {
  color: #666;
  font-weight: 500;
}
main section#contact .container #contact-content form input:-ms-input-placeholder, main section#contact .container #contact-content form textarea:-ms-input-placeholder {
  color: #666;
  font-weight: 500;
}
main section#contact .container #contact-content form input::placeholder, main section#contact .container #contact-content form textarea::placeholder {
  color: #666;
  font-weight: 500;
}
main section#contact .container #contact-content form input:nth-child(1), main section#contact .container #contact-content form textarea:nth-child(1) {
  width: calc(50% - 1rem);
  margin-right: 1rem;
}
main section#contact .container #contact-content form input:nth-child(2), main section#contact .container #contact-content form textarea:nth-child(2) {
  width: calc(50% - 1rem);
  margin-left: 1rem;
}
main section#contact .container #contact-content form input[type=submit], main section#contact .container #contact-content form textarea[type=submit] {
  cursor: pointer;
  width: calc(50% - 2rem);
  background-color: #F24259;
  color: #fff;
  font-weight: 500;
}
main section#contact .container #contact-content form textarea {
  height: 16rem;
  resize: none;
}
main section#contact .container #contact-content form a {
  position: relative;
  width: 100%;
  max-width: 16rem;
  padding: 1rem 0;
  background-color: #F24259;
  display: flex;
  justify-content: center;
  border: 0.15rem solid #F24259;
}
main section#contact .container #contact-content form a:hover::after {
  width: 100%;
}
main section#contact .container #contact-content form a:hover span {
  color: #00000a;
}
main section#contact .container #contact-content form a::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #fff;
  z-index: 1;
  transition: width 0.3s ease;
}
main section#contact .container #contact-content form a span {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  z-index: 2;
  transition: color 0.3s ease;
}

/*#endregion*/
/*#region Footer Codes*/
footer {
  width: 100%;
  padding: 8rem 0;
  background-color: #111;
}
footer .container #footer-info {
  padding-bottom: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .container #footer-info .info {
  position: relative;
  cursor: pointer;
  width: calc(33.33% - 2rem);
  padding: 3rem;
  background-color: #171717;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
footer .container #footer-info .info:hover::after {
  width: 100%;
}
footer .container #footer-info .info:hover .info-text p {
  color: #fff;
}
footer .container #footer-info .info::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #F24259;
  transition: width 0.3s ease;
  z-index: 1;
}
footer .container #footer-info .info .info-icon {
  margin-right: 3rem;
  z-index: 2;
}
footer .container #footer-info .info .info-icon i {
  font-size: 3.5rem;
  color: #fff;
}
footer .container #footer-info .info .info-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 2;
}
footer .container #footer-info .info .info-text h6 {
  font-size: 1.7rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 1rem;
}
footer .container #footer-info .info .info-text a p {
  font-size: 1.6rem;
  font-weight: 500;
  color: #666;
  transition: color 0.3s ease;
}
footer .container #footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .container #footer-content #footer-logo {
  padding: 1.5rem 0;
}
footer .container #footer-content #footer-logo a img {
  height: 3.5rem;
}
footer .container #footer-content #footer-social {
  margin: 1.5rem 0 2.5rem 0;
}
footer .container #footer-content #footer-social ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .container #footer-content #footer-social ul li {
  margin: 0 1.25rem;
}
footer .container #footer-content #footer-social ul li:hover a i {
  color: #fff;
}
footer .container #footer-content #footer-social ul li a i {
  font-size: 1.8rem;
  color: #666;
  transition: color 0.3s ease;
}
footer .container #footer-content #footer-copyright {
  width: 100%;
  text-align: center;
}
footer .container #footer-content #footer-copyright p {
  font-size: 1.5rem;
  font-weight: 500;
  color: #666;
}
footer .container #footer-content #footer-copyright p a {
  font-weight: 600;
  color: #666;
  transition: color 0.3s ease;
}
footer .container #footer-content #footer-copyright p a:hover {
  color: #fff;
}

/*#endregion*/
/*#region Responsive Codes*/
@media screen and (max-width: 1790px) {
  html {
    font-size: 11.75px;
  }
}
@media screen and (max-width: 1740px) {
  html {
    font-size: 11.5px;
  }
}
@media screen and (max-width: 1690px) {
  html {
    font-size: 11.25px;
  }
}
@media screen and (max-width: 1640px) {
  html {
    font-size: 11px;
  }
}
@media screen and (max-width: 1590px) {
  html {
    font-size: 10.75px;
  }
}
@media screen and (max-width: 1540px) {
  html {
    font-size: 10.5px;
  }
}
@media screen and (max-width: 1490px) {
  html {
    font-size: 10.25px;
  }
}
@media screen and (max-width: 1440px) {
  html {
    font-size: 10px;
  }
}
@media screen and (max-width: 1390px) {
  html {
    font-size: 9.8px;
  }
}
@media screen and (max-width: 1340px) {
  html {
    font-size: 9.6px;
  }
}
@media screen and (max-width: 1290px) {
  html {
    font-size: 9.4px;
  }
}
@media screen and (max-width: 1240px) {
  html {
    font-size: 9.2px;
  }
}
@media screen and (max-width: 1190px) {
  html {
    font-size: 9px;
  }
}
@media screen and (max-width: 1140px) {
  html {
    font-size: 8.8px;
  }
}
@media screen and (max-width: 1090px) {
  html {
    font-size: 8.6px;
  }
}
@media screen and (max-width: 1024px) {
  html {
    font-size: 9px;
  }
  .container {
    width: 90%;
  }
}
@media screen and (max-width: 974px) {
  html {
    font-size: 8.8px;
  }
}
@media screen and (max-width: 924px) {
  html {
    font-size: 8.6px;
  }
  footer .container #footer-info {
    flex-wrap: wrap;
    flex-direction: column;
  }
  footer .container #footer-info .info {
    width: 100%;
    max-width: 46.8rem;
    margin-bottom: 2rem;
  }
  footer .container #footer-info .info:last-child {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 874px) {
  html {
    font-size: 8.4px;
  }
}
@media screen and (max-width: 824px) {
  html {
    font-size: 8.2px;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }
  header .container {
    flex-wrap: wrap;
  }
  header .container #header-bar {
    display: block;
  }
  header .container #header-menu {
    display: none;
    width: 100%;
    margin-top: 1.5rem;
  }
  header .container #header-menu nav ul {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
  }
  main section#home {
    height: 94vh;
  }
  main section#home .container #home-scroll {
    bottom: 10%;
  }
  main section#home .container #home-content h3 {
    font-size: 4rem;
  }
  main section#home .container #home-content h1 {
    font-size: 5rem;
    line-height: normal;
  }
  main section#home .container #home-content #home-buttons a {
    margin: 0 1rem;
  }
  main section#about .container #about-content {
    flex-wrap: wrap;
  }
  main section#about .container #about-content #about-text {
    width: 100%;
    margin-bottom: 4.5rem;
  }
  main section#about .container #about-content #about-skills {
    width: 100%;
  }
  main section#about #about-cards .container {
    flex-wrap: wrap;
    flex-direction: column;
  }
  main section#about #about-cards .container .card {
    width: 100%;
    max-width: 46.8rem;
    margin-bottom: 2rem;
  }
  main section#about #about-cards .container .card:hover {
    transform: scale(1);
  }
  main section#about #about-cards .container .card:last-child {
    margin-bottom: 0;
  }
  main section#features .container #features-content .feature {
    width: calc(50% - 1rem);
    margin-bottom: 2rem;
  }
  main section#pricing .container #pricing-content {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  main section#pricing .container #pricing-content .pricing {
    width: 100%;
    max-width: 46.8rem;
    margin-bottom: 2rem;
  }
  main section#pricing .container #pricing-content .pricing:hover {
    transform: scale(1);
  }
  main section#pricing .container #pricing-content .pricing:last-child {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 718px) {
  html {
    font-size: 9.8px;
  }
}
@media screen and (max-width: 668px) {
  html {
    font-size: 9.6px;
  }
}
@media screen and (max-width: 618px) {
  html {
    font-size: 9.4px;
  }
}
@media screen and (max-width: 568px) {
  html {
    font-size: 9.2px;
  }
}
@media screen and (max-width: 518px) {
  html {
    font-size: 9px;
  }
  main section#features .container #features-content .feature {
    width: 100%;
  }
  main section#features .container #features-content .feature:last-child {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 468px) {
  html {
    font-size: 10px;
  }
  main section#home .container #home-content h3 {
    font-size: 2.5rem;
  }
  main section#home .container #home-content h1 {
    font-size: 4rem;
  }
  footer {
    padding-bottom: 4.5rem;
  }
  footer .container #footer-info {
    padding-bottom: 4.5rem;
  }
  footer .container #footer-info .info {
    padding: 2rem 3rem;
  }
}
@media screen and (max-width: 425px) {
  html {
    font-size: 9.75px;
  }
}
@media screen and (max-width: 400px) {
  html {
    font-size: 9.5px;
  }
}
@media screen and (max-width: 375px) {
  html {
    font-size: 9.25px;
  }
}
@media screen and (max-width: 350px) {
  html {
    font-size: 9px;
  }
}
@media screen and (max-width: 325px) {
  html {
    font-size: 8.75px;
  }
}
/*#endregion*//*# sourceMappingURL=style.css.map */